RewriteEngine On

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^smartgrid/doc/ /index.html [L]

# Redirect all other requests to index.html
RewriteRule ^ index.html [L]